.card {
  background: #fff;
  padding: 25px 32px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.32);
  max-height: 800px;
  overflow-y: scroll;
}

@media screen and (max-width: 1024px) {
  .card {
    max-width: 80%;
    margin: 0 auto;
  }
}
