<header class="header">
  <div class="header__user-container">
    <div class="header__user-img-container">
      <img
        class="header__user-img"
        src="https://i.pravatar.cc/50?img=40"
        alt=""
        srcset=""
      />
    </div>
    <div class="header__username-container">
      <h3 class="header__username">Welcome, User 1</h3>
    </div>
  </div>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a routerLink="/" class="header__nav-link">Home</a>
      </li>
      <li class="header__nav-item">
        <a routerLink="/about" class="header__nav-link">About</a>
      </li>
    </ul>
  </nav>
</header>
