<div class="employee__grid-table">
  <div class="employee__search">
    <form>
      <input
        class="employee__input"
        type="text"
        placeholder="Enter Id"
        name="id"
        [formControl]="id"
      />
    </form>
    <button class="employee__submit-btn" type="button" (click)="onSubmit()">
      Search Id
    </button>
  </div>
  <hr />
  <div class="employee__grid-header">
    <div>ID</div>
    <div (click)="sortByEmployeeName()" class="employee__grid-sort">
      Employee Name
    </div>
    <div (click)="sortByEmployeeSalary()" class="employee__grid-sort">
      Employee Salary
    </div>
    <div (click)="sortByEmployeeAge()" class="employee__grid-sort">
      Employee Age
    </div>
  </div>
  <div class="employee__grid-body">
    <div class="employee__grid-row" *ngFor="let employee of employees">
      <div>{{ employee.id }}</div>
      <div class="employee__name">
        <img
          [src]="'https://i.pravatar.cc/50?img=' + employee.id"
          alt=""
          class="employee__image"
        />
        <div class="employee__name-text-container">
          <a [routerLink]="'/employees/' + employee.id">
            {{ employee.employee_name }}
          </a>
        </div>
      </div>
      <div class="employee__salary-container">
        {{ employee.employee_salary }}
      </div>
      <div class="employee__age-container">{{ employee.employee_age }}</div>
    </div>
  </div>
</div>
