.app__container {
  display: flex;
  flex-direction: column;
}
main {
  background: #f5f4fa;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
@media screen and (min-width: 1024px) {
  .app__container {
    display: flex;
    flex-direction: row;
  }
}
