.employee__table-container {
  background: #fff;
  padding: 25px 32px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.32);
}
.employee__table-title {
  font-size: 30px;
  margin-bottom: 15px;
}
